<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>db.MyListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>RegisterAction</servlet-name>
  	<display-name>RegisterAction</display-name>
  	<description></description>
  	<servlet-class>user.RegisterAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateAction</servlet-name>
  	<display-name>ValidateAction</display-name>
  	<description></description>
  	<servlet-class>user.ValidateAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyAction</servlet-name>
  	<display-name>VerifyAction</display-name>
  	<description></description>
  	<servlet-class>user.VerifyAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgetAction</servlet-name>
  	<display-name>ForgetAction</display-name>
  	<description></description>
  	<servlet-class>user.ForgetAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServiceFormAction</servlet-name>
  	<display-name>ServiceFormAction</display-name>
  	<description></description>
  	<servlet-class>service.ServiceFormAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PhotoAction</servlet-name>
  	<display-name>PhotoAction</display-name>
  	<description></description>
  	<servlet-class>service.PhotoAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Photo</servlet-name>
  	<display-name>Photo</display-name>
  	<description></description>
  	<servlet-class>service.Photo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServiceReport</servlet-name>
  	<display-name>ServiceReport</display-name>
  	<description></description>
  	<servlet-class>service.ServiceReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteService</servlet-name>
  	<display-name>DeleteService</display-name>
  	<description></description>
  	<servlet-class>service.DeleteService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdServiceAction</servlet-name>
  	<display-name>UpdServiceAction</display-name>
  	<description></description>
  	<servlet-class>service.UpdServiceAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassAction</servlet-name>
  	<display-name>ChangePassAction</display-name>
  	<description></description>
  	<servlet-class>user.ChangePassAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileAction</servlet-name>
  	<display-name>ProfileAction</display-name>
  	<description></description>
  	<servlet-class>user.ProfileAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AvailService</servlet-name>
  	<display-name>AvailService</display-name>
  	<description></description>
  	<servlet-class>service.AvailService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppliedAvailService</servlet-name>
  	<display-name>AppliedAvailService</display-name>
  	<description></description>
  	<servlet-class>service.AppliedAvailService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAvailService</servlet-name>
  	<servlet-class>service.DeleteAvailService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserApplyforServices</servlet-name>
  	<display-name>UserApplyforServices</display-name>
  	<description></description>
  	<servlet-class>service.UserApplyforServices</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdAvailServiceAction</servlet-name>
  	<display-name>UpdAvailServiceAction</display-name>
  	<description></description>
  	<servlet-class>service.UpdAvailServiceAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserReport</servlet-name>
  	<display-name>UserReport</display-name>
  	<description></description>
  	<servlet-class>user.UserReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<display-name>DeleteUser</display-name>
  	<description></description>
  	<servlet-class>user.DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdUserStatus</servlet-name>
  	<display-name>UpdUserStatus</display-name>
  	<description></description>
  	<servlet-class>user.UpdUserStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactAction</servlet-name>
  	<display-name>ContactAction</display-name>
  	<description></description>
  	<servlet-class>contact.ContactAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactInfoReport</servlet-name>
  	<display-name>ContactInfoReport</display-name>
  	<description></description>
  	<servlet-class>contact.ContactInfoReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteContact</servlet-name>
  	<display-name>DeleteContact</display-name>
  	<description></description>
  	<servlet-class>contact.DeleteContact</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackAction</servlet-name>
  	<display-name>FeedbackAction</display-name>
  	<description></description>
  	<servlet-class>feedback.FeedbackAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeedbackReport</servlet-name>
  	<display-name>FeedbackReport</display-name>
  	<description></description>
  	<servlet-class>feedback.FeedbackReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFeedback</servlet-name>
  	<display-name>DeleteFeedback</display-name>
  	<description></description>
  	<servlet-class>feedback.DeleteFeedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComplaintAction</servlet-name>
  	<display-name>ComplaintAction</display-name>
  	<description></description>
  	<servlet-class>complaint.ComplaintAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComplaintsReport</servlet-name>
  	<display-name>ComplaintsReport</display-name>
  	<description></description>
  	<servlet-class>complaint.ComplaintsReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteComplaint</servlet-name>
  	<display-name>DeleteComplaint</display-name>
  	<description></description>
  	<servlet-class>complaint.DeleteComplaint</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdComplaintAction</servlet-name>
  	<display-name>UpdComplaintAction</display-name>
  	<description></description>
  	<servlet-class>complaint.UpdComplaintAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListofAllServices</servlet-name>
  	<display-name>ListofAllServices</display-name>
  	<description></description>
  	<servlet-class>service.ListofAllServices</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegisterAction</servlet-name>
  	<url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateAction</servlet-name>
  	<url-pattern>/ValidateAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyAction</servlet-name>
  	<url-pattern>/VerifyAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgetAction</servlet-name>
  	<url-pattern>/ForgetAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServiceFormAction</servlet-name>
  	<url-pattern>/ServiceFormAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhotoAction</servlet-name>
  	<url-pattern>/PhotoAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Photo</servlet-name>
  	<url-pattern>/Photo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServiceReport</servlet-name>
  	<url-pattern>/ServiceReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteService</servlet-name>
  	<url-pattern>/DeleteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdServiceAction</servlet-name>
  	<url-pattern>/UpdServiceAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassAction</servlet-name>
  	<url-pattern>/ChangePassAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileAction</servlet-name>
  	<url-pattern>/ProfileAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AvailService</servlet-name>
  	<url-pattern>/AvailService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppliedAvailService</servlet-name>
  	<url-pattern>/AppliedAvailService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAvailService</servlet-name>
  	<url-pattern>/DeleteAvailService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserApplyforServices</servlet-name>
  	<url-pattern>/UserApplyforServices</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdAvailServiceAction</servlet-name>
  	<url-pattern>/UpdAvailServiceAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserReport</servlet-name>
  	<url-pattern>/UserReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdUserStatus</servlet-name>
  	<url-pattern>/UpdUserStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactAction</servlet-name>
  	<url-pattern>/ContactAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactInfoReport</servlet-name>
  	<url-pattern>/ContactInfoReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteContact</servlet-name>
  	<url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackAction</servlet-name>
  	<url-pattern>/FeedbackAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeedbackReport</servlet-name>
  	<url-pattern>/FeedbackReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFeedback</servlet-name>
  	<url-pattern>/DeleteFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintAction</servlet-name>
  	<url-pattern>/ComplaintAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintsReport</servlet-name>
  	<url-pattern>/ComplaintsReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteComplaint</servlet-name>
  	<url-pattern>/DeleteComplaint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdComplaintAction</servlet-name>
  	<url-pattern>/UpdComplaintAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListofAllServices</servlet-name>
  	<url-pattern>/ListofAllServices</url-pattern>
  </servlet-mapping>

</web-app>
